<main>
    <h1>{{product.name}}</h1>
    <img class="cube" src="{{product.imageUrl}}">
    <div class="details">
      <p><span>Description:</span> {{product.description}}</p>
      <p><span>Difficulty level:</span> {{product.difficultyLevel}}</p>
      <a class="btn" href="/products">Back</a>
      {{#if bUserIsAuthenticated}}
      <a class="btn" href="/products/{{product._id}}/attach">Attach Accessory</a>
      <a class="btn" href="/products/edit/{{product._id}}">Edit</a>
      <a class="btn" href="/products/delete/{{product._id}}">Delete</a>
      {{/if}}
    </div>
    <h2>Accessories</h2>
    <div class="accessories">
        {{#each product.accessories}}
        <div class="accessory">
            <img src="{{imageUrl}}" alt="stickerName">
            <h3>{{name}}</h3>
            <p>{{description}}</p>
        </div>
        {{else}}
        <h3 class="italic">This cube has no accessories yet...</h3>
        {{/each}}
    </div>
</main>